/* Globals */
/* * {
    /* border: 1px solid red; */
/* } */
#fff {
    background-color: white;
    width: 100%;
    height: 480px;
    position: absolute;
    left: 0;
    font-size: 150px;
    color: crimson;
}
body {
    text-align: center;
}
/* Score */
.score-points, #final {
    display: flex;
    justify-content: space-between;
    width: 610px;
    margin: 30px auto;
}
/* Body */
h1 {
    margin: 120px 170px;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    text-align: center;
}
.btn {
    width: 200px;
    height: 200px;
    font-size: 44px;
}
#final {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 24px;
   
}
#result {
    font-size: 34px;
    color: gold;
}
#choiceP1,
#choiceCPU {
   width: 33.3%;
}